* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --primary-color: #1B262C;
  --primary-text-color: #0F4C75;
  --primary-hover-color: #3282B8;
  --primary-shadow-color: #BBE1FA;

  --secondary-color: #6c757d;
  --secondary-text-color: #ffffff;
}

::view-transition-old(root) {
  animation-name: full-slide-to-left;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}
::view-transition-new(root) {
  animation-name: full-slide-from-right;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
}


body {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.container {
  padding-inline: 32px;
  margin-inline: auto;
  max-width: 100%;
}

header {
  background-color: #fff;
}

a,
button {
  min-height: 44px;
  min-width: 44px;

}

input,
textarea,
select {
  transition: box-shadow 150ms ease-in-out;
}

input,
textarea {
  min-height: 44px;
  min-width: 44px;
  width: 100%;
  padding: 12px 10px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;

  font-size: 1rem;
  font-family: 'Inter', sans-serif;

  resize: vertical;
}

input[type='radio'],
input[type='checkbox'] {
  min-height: auto;
  min-width: auto;
  width: auto;
  display: inline;

  transition: 150ms ease-in-out;
}

textarea {
  min-height: 150px;
}

select {
  display: inline-block;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 10px 20px;

  font-size: 1rem;
  line-height: 1rem;

  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.main-header {
  min-height: 90px;
  padding-block: 20px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.brand-name {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--primary-color);
}

.brand-name-mobile {
  padding: 8px;
  display: inline-block;
  vertical-align: middle;  
}

.navigation-drawer {
  min-height: 100vh;
  padding: 20px 10px;
  background-color: #fff;

  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;

  box-shadow: 0 0 4px 2px #00000033;
  transform: translateX(-100%);
  transition: transform 350ms;
  


  z-index: 9999;
}

.navigation-drawer.open {
  transform: translateX(0);
}

.drawer-button {
  padding: 8px;
  border: 0;
  border-radius: 4px;

  display: inline-block;
  background-color: transparent;

  font-weight: bold;
  font-size: 28px;
  color: #141e16;

  cursor: pointer;
}

.nav-list {
  list-style: none;

  display: flex;
  flex-direction: column;
  /* gap: 10px 5px; */
}

.nav-list li a {
  padding: 6px 10px;

  display: block;
  
  color: #333;
  text-decoration: none;
}

.nav-list li a:hover {
  text-decoration: underline;
}

.mobile-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.main-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navlist-main {
  list-style: none;
  margin: 20px 0px;
  display: flex;

  gap: 20px;
  flex-direction: column;
}

.navlist-main li a {
  padding: 6px 10px;

  display: block;
  
  color: #333;
  text-decoration: none;
}

.navlist-main li a:hover {
  text-decoration: underline;
}

/* MAIN */
.main-content {
  padding-block: 20px;
}

.btn {
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  width: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  /* color: var(--primary-text-color) !important; */
  color: #fff;

  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn-ghost {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-text-color) !important;

  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: var(--primary-hover-color);
}

.btn-ghost:hover {
  color: #fff !important;
  background-color: var(--primary-hover-color);
}

.btn[disabled] {
  background-color: var(--primary-hover-color);
  cursor: not-allowed;
}

.btn.btn-outline {
  background-color: transparent;
  border: 1px solid var(--primary-color);

  color: var(--primary-color) !important;
}

.btn.btn-outline:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--primary-text-color) !important;
}

.btn.btn-transparent {
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
  color: #09090b !important;
}

.btn.btn-transparent:hover {
  background-color: #d4d4d4;
}

.btn.btn-transparent:focus-visible {
  outline: none;
  border-color: var(--primary-shadow-color);
  box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible,
.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 4px var(--primary-shadow-color);
}

form > .form-control:not([hidden]) ~ .form-control:not([hidden]) {
  margin-block-start: 30px;
}

form .form-control > :not([hidden]) ~ :not([hidden]) {
  margin-block-start: 10px;
}

form .form-buttons {
  margin-block-start: 30px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}


/* Write your styles more here */

/* Login and register page */
.register-form-container,
.login-form-container {
  max-width: 400px;
  height: 100%;
  margin-inline: auto;
}

.register__title,
.login__title {
  text-align: center;
  margin-block: 30px 20px;
}

.register-form,
.login-form {
  border-radius: 8px;
  padding: 20px;
}

.register-form__form-buttons,
.login-form__form-buttons {
  flex-direction: column;
  align-items: stretch;
}

.register-form__already-have-account,
.login-form__do-not-have-account {
  text-align: center;
}

/* Loader */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  text-align: center;
}

.loader::after {
  content: '';
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 6px solid #d4d4d4aa;
  border-bottom-color: var(--primary-color);
  border-radius: 100%;

  animation: rotation 1s linear infinite;
}

.loader.loader-absolute::after {
  position: absolute;
  inset: 0;
  margin: auto;
}

i.loader-button {
  animation: rotation 1s linear infinite;
}



@media screen and (width > 1000px) {
  .navigation-drawer {
    min-height: auto;
    width: 100%;
    padding: 0;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: static;
    box-shadow: none;
    transform: translateX(0);
  }

  .main-nav{
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navlist-main {
    display: flex;
    gap: 20px;
  }

  .nav-list {
    flex-direction: row;
  }

  .nav-list li a {
    display: inline-block;
  }

  .navlist-main {
    flex-direction: row;
  }

  .navlist-main li a {
    display: inline-block;
  }

  .mobile-nav {
    display: none;
  }
}

